Repository xenitV1/retrui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: update Next.js to 15.5.9 and dependencies for security fixes
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package-lock.json
  package.json
Due: prettier --write

feat: add Google Analytics tracking (G-RL4SBZ92SL)
  src/app/layout.tsx
Due: eslint --fix --max-warnings 0

feat: add GLM 4.7 and z.ai team acknowledgment
  README.md
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: use next/script for Google Analytics (ESLint fix)
  src/app/layout.tsx
Due: eslint --fix --max-warnings 0

feat: add Google Search Console verification meta tag
  src/app/layout.tsx
Due: eslint --fix --max-warnings 0

fix: add dynamic export to API routes for Vercel compatibility
  src/app/api/fetch-content/route.ts
  src/app/api/fetch-rss/route.ts
Due: eslint --fix --max-warnings 0

security: add SSRF protection to API routes
  src/app/api/fetch-content/route.ts
  src/app/api/fetch-rss/route.ts
Due: eslint --fix --max-warnings 0

fix: Add CORS support and OPTIONS handler for fetch-content API
  src/app/api/fetch-content/route.ts
Due: eslint --fix --max-warnings 0

fix: Remove standalone output and add Vercel serverless config for jsdom
  next.config.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: Update build script to remove standalone output dependency
  package.json
Due: prettier --write

fix: Replace jsdom with cheerio for Vercel serverless compatibility
  next.config.ts
  package-lock.json
  package.json
  src/lib/content-extractor.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Update Next.js 15 config and html-to-text selectors
  next.config.ts
  src/lib/content-extractor.ts
Due: eslint --fix --max-warnings 0

feat: Use @extractus/article-extractor for smart content extraction
  next.config.ts
  package-lock.json
  package.json
  src/lib/content-extractor.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add custom RSS feed feature with IndexedDB persistence
  src/app/news-client.tsx
  src/lib/indexeddb.ts
Due: eslint --fix --max-warnings 0

docs: Update About page - replace Mozilla Readability with @extractus/article-extractor
  src/app/about/page.tsx
Due: eslint --fix --max-warnings 0

chore: add Claude AI configuration directory
  .claude/settings.json
  .claude/settings.local.json
Due: prettier --write

feat: add Next.js middleware for request handling
  middleware.ts
Due: eslint --fix --max-warnings 0

chore: add utility scripts directory
  scripts/results/failed-feeds.json
  scripts/results/new-turkish-feeds-test.json
  scripts/results/new-turkish-working.json
  scripts/results/test-results.json
  scripts/results/working-feeds.json
  scripts/test-new-turkish-feeds.ts
  scripts/test-rss-feeds.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add column settings panel component
  src/components/column-settings-panel.tsx
Due: eslint --fix --max-warnings 0

feat: add feed settings panel component
  src/components/feed-settings-panel.tsx
Due: eslint --fix --max-warnings 0

feat: add API security utilities
  src/lib/api-security.ts
Due: eslint --fix --max-warnings 0

feat: add column layouts management
  src/lib/column-layouts.ts
Due: eslint --fix --max-warnings 0

feat: add feed preferences management
  src/lib/feed-preferences.ts
Due: eslint --fix --max-warnings 0

feat: add RSS feeds configuration
  src/lib/rss-feeds.ts
Due: eslint --fix --max-warnings 0

config: update Next.js configuration
  next.config.ts
Due: eslint --fix --max-warnings 0

deps: update package dependencies
  package.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

feat: improve fetch-content API route
  src/app/api/fetch-content/route.ts
Due: eslint --fix --max-warnings 0

feat: improve fetch-rss API route
  src/app/api/fetch-rss/route.ts
Due: eslint --fix --max-warnings 0

feat: improve news client component
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

feat: improve home page
  src/app/page.tsx
Due: eslint --fix --max-warnings 0

chore: improve toast hook
  src/hooks/use-toast.ts
Due: eslint --fix --max-warnings 0

feat: improve IndexedDB utilities
  src/lib/indexeddb.ts
Due: eslint --fix --max-warnings 0

config: update TypeScript configuration
  tsconfig.json
Due: prettier --write

feat: update news client with latest changes
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

feat: update feed settings panel with latest changes
  src/components/feed-settings-panel.tsx
Due: eslint --fix --max-warnings 0

chore: release v0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: RSS language filter now works correctly in sidebar
  .claude/settings.local.json
  scripts/test-new-language-feeds.ts
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/news-client.tsx
  src/app/page.tsx
  src/app/sitemap.ts
  src/components/column-settings-panel.tsx
  src/components/language-switcher.tsx
  src/i18n/config.ts
  src/i18n/messages/de.json
  src/i18n/messages/en.json
  src/i18n/messages/es.json
  src/i18n/messages/fr.json
  src/i18n/messages/hi.json
  src/i18n/messages/index.ts
  src/i18n/messages/tr.json
  src/i18n/messages/zh.json
  src/i18n/use-translations.ts
  src/lib/column-layouts.ts
  src/lib/rss-feeds.ts
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update CHANGELOG.md with RSS language filter fixes
  CHANGELOG.md
Due: prettier --write
