Repository xenitV1/retrui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: remove excessive console logs and fix fetch race conditions
  eslint.config.mjs
  src/app/news-client.tsx
  src/components/language-switcher.tsx
Due: eslint --fix --max-warnings 0

fix: resolve npm run lint error
  eslint.config.mjs
  next.config.ts
  package.json
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0, prettier --write

SEO: Add SSR, structured data, news sitemap
  next.config.ts
  public/robots.txt
  scripts/test-failing-feeds.ts
  src/app/[locale]/page.tsx
  src/app/news-sitemap.xml/route.ts
  src/app/page.tsx
  src/components/news-schema.tsx
  src/lib/server-news.ts
  src/proxy.ts
Due: eslint --fix --max-warnings 0

Fix: Add .vercelignore for cache issues
  .vercelignore
Due: none

fix: exclude .nft.json files from Vercel cache to resolve build errors
  .vercelignore
  middleware.ts
  src/app/news-client.tsx
  src/i18n/messages/de.json
  src/i18n/messages/en.json
  src/i18n/messages/es.json
  src/i18n/messages/fr.json
  src/i18n/messages/hi.json
  src/i18n/messages/tr.json
  src/i18n/messages/zh.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: exclude news-sitemap.xml from proxy locale redirect
  src/proxy.ts
Due: eslint --fix --max-warnings 0

fix: remove external URLs from news-sitemap.xml
  src/app/news-sitemap.xml/route.ts
Due: eslint --fix --max-warnings 0

fix: move about page into [locale] directory for i18n support
  src/app/[locale]/about/page.tsx
Due: eslint --fix --max-warnings 0

Delete .claude directory
  .claude/settings.json
  .claude/settings.local.json
Due: prettier --write

feat: rebrand from tech news to personal news portal
  .gitignore
  src/i18n/messages/de.json
  src/i18n/messages/en.json
  src/i18n/messages/es.json
  src/i18n/messages/fr.json
  src/i18n/messages/hi.json
  src/i18n/messages/tr.json
  src/i18n/messages/zh.json
Due: prettier --write

feat: add Rust API backend for high-performance RSS and content fetching
  .env.example
  .gitignore
  AGENTS.md
  CHANGELOG.md
  GEMINI.md
  README.md
  next.config.ts
  package-lock.json
  package.json
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/src/README.md
  rust-api/src/main.rs
  rust-api/src/models/errors.rs
  rust-api/src/models/mod.rs
  rust-api/src/models/requests.rs
  rust-api/src/models/responses.rs
  rust-api/src/routes/fetch_content.rs
  rust-api/src/routes/fetch_rss.rs
  rust-api/src/routes/mod.rs
  rust-api/src/security/cors.rs
  rust-api/src/security/mod.rs
  rust-api/src/security/ssrf.rs
  rust-api/src/services/content_extractor.rs
  rust-api/src/services/mod.rs
  rust-api/src/services/rss_parser.rs
  rust-api/src/utils/mod.rs
  rust-api/src/utils/retry.rs
  scripts/test-failing-feeds.ts
  scripts/test-new-language-feeds.ts
  scripts/test-new-turkish-feeds.ts
  scripts/test-rss-feeds.ts
  src/app/api/fetch-content/route.ts
  src/app/api/fetch-rss/route.ts
  src/lib/content-extractor.ts
  src/lib/server-news.ts
Due: eslint --fix --max-warnings 0, prettier --write

Revert "feat: add Rust API backend for high-performance RSS and content fetching"
  .env.example
  .gitignore
  AGENTS.md
  CHANGELOG.md
  GEMINI.md
  README.md
  next.config.ts
  package-lock.json
  package.json
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/src/README.md
  rust-api/src/main.rs
  rust-api/src/models/errors.rs
  rust-api/src/models/mod.rs
  rust-api/src/models/requests.rs
  rust-api/src/models/responses.rs
  rust-api/src/routes/fetch_content.rs
  rust-api/src/routes/fetch_rss.rs
  rust-api/src/routes/mod.rs
  rust-api/src/security/cors.rs
  rust-api/src/security/mod.rs
  rust-api/src/security/ssrf.rs
  rust-api/src/services/content_extractor.rs
  rust-api/src/services/mod.rs
  rust-api/src/services/rss_parser.rs
  rust-api/src/utils/mod.rs
  rust-api/src/utils/retry.rs
  scripts/test-failing-feeds.ts
  scripts/test-new-language-feeds.ts
  scripts/test-new-turkish-feeds.ts
  scripts/test-rss-feeds.ts
  src/app/api/fetch-content/route.ts
  src/app/api/fetch-rss/route.ts
  src/lib/content-extractor.ts
  src/lib/server-news.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: migrate to Prisma Accelerate and enhance Cron security
  .env.example
  package.json
  src/app/api/cron/sync-news/route.ts
  src/lib/prisma.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: enforce node 22 and sync lockfile for deployment
  package-lock.json
  package.json
Due: prettier --write

fix: update prisma provider for accelerate and add postinstall script
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write

chore: update gitignore and cleanup
  .gitignore
Due: none

chore: update news client UI and push all pending changes
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

feat: improve sitemap generation and news fetching, add prisma config and sync scripts
  prisma.config.ts
  scripts/test-sync.ts
  src/app/[locale]/news/[slug]/page.tsx
  src/app/news-sitemap.xml/route.ts
  src/app/sitemap.ts
  src/lib/server-news.ts
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: Prisma 7 compatibility - migrate datasource url to prisma.config.ts
  .gitignore
  prisma/schema.prisma
  src/lib/prisma.ts
Due: eslint --fix --max-warnings 0

chore: remove Vercel cron jobs - use external cron service
  vercel.json
Due: prettier --write

perf: increase FEEDS_PER_RUN to 30 for single cron job
  src/app/api/cron/sync-news/route.ts
Due: eslint --fix --max-warnings 0

chore: remove unused test scripts
  scripts/test-failing-feeds.ts
  scripts/test-new-language-feeds.ts
  scripts/test-new-turkish-feeds.ts
  scripts/test-rss-feeds.ts
  scripts/test-sync.ts
Due: eslint --fix --max-warnings 0

fix: remove unsupported _comment from vercel.json
  vercel.json
Due: prettier --write

fix: keep news panel behavior - hide SEO link, remove 100 news limit
  src/app/news-client.tsx
  src/lib/server-news.ts
Due: eslint --fix --max-warnings 0

feat: redesign news detail page with Retrui branding and retro theme
  src/app/[locale]/news/[slug]/page.tsx
Due: eslint --fix --max-warnings 0

fix: light mode hover text color - use group-hover for all child elements
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

chore: remove duplicate news-sitemap.xml - content already in main sitemap
  src/app/news-sitemap.xml/route.ts
Due: eslint --fix --max-warnings 0

chore: remove news-sitemap.xml from robots.txt
  public/robots.txt
Due: none

feat: i18n support for About page with 5-day retention info
  src/app/[locale]/about/page.tsx
  src/i18n/messages/de.json
  src/i18n/messages/en.json
  src/i18n/messages/es.json
  src/i18n/messages/fr.json
  src/i18n/messages/hi.json
  src/i18n/messages/index.ts
  src/i18n/messages/tr.json
  src/i18n/messages/zh.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: add share buttons and update logo to R
  public/logo.svg
  src/app/[locale]/news/[slug]/page.tsx
  src/components/share-buttons.tsx
Due: eslint --fix --max-warnings 0

feat: add share buttons to news cards and right drawer
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

fix: deterministic slugs for news and update cron to 8 hours
  src/app/api/cron/sync-news/route.ts
  src/i18n/messages/en.json
  src/i18n/messages/fr.json
  src/i18n/messages/tr.json
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

Revert "fix: deterministic slugs for news and update cron to 8 hours"
  src/app/api/cron/sync-news/route.ts
  src/i18n/messages/en.json
  src/i18n/messages/fr.json
  src/i18n/messages/tr.json
  vercel.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: sync slug generation algorithm and implement force refresh for news feeds
  prisma/schema.prisma
  src/app/api/cron/sync-news/route.ts
  src/app/news-client.tsx
Due: eslint --fix --max-warnings 0

fix: resolve prisma build errors and update schema config
  src/lib/prisma.ts
Due: eslint --fix --max-warnings 0

fix: add slug lookup fallback for backward compatibility
  src/app/[locale]/news/[slug]/page.tsx
Due: eslint --fix --max-warnings 0

fix: implement on-the-fly content extraction with db priority
  src/app/[locale]/news/[slug]/page.tsx
Due: eslint --fix --max-warnings 0
